
@{
    ViewData["Title"] = "Profile Page";
}

@model ProfileViewModel

 
            
<h1>Profil för @Model.ProfileName </h1>
@* <h2> @Model.CVs</h2> *@
<h2>CVs:</h2> 


 @* <h2>Projekt:</h2> *@


<ul>
    @foreach (var cv in Model.Cvs)
    {
        <li>
            @* kanske vara userID *@
          
                
           
            <br />
            <p><strong>CV:</strong> @cv.CVName</p>

            <h4>Utbildning:</h4>
            @if (cv.Educations != null && cv.Educations.Any())
            {
                <ul>
                    @foreach (var education in cv.Educations)
                    {
                        <li>
                            <strong>Skola:</strong> @education.School<br />
                            <strong>Examen:</strong> @education.Degree<br />
                            <strong>Startdatum:</strong> @education.StartDate<br />
                            <strong>Slutdatum:</strong> @education.EndDate<br />
                        </li>
                    }
                </ul>
            }

            else
            {
                <p>Ingen utbildning tillagd.</p>
            }

            <h4>Språk:</h4>
            @if (cv.Languages != null && cv.Languages.Any())
            {
                <ul>
                    @foreach (var language in cv.Languages)
                    {
                        <li>
                            <strong>Språk:</strong> @language.LanguageName<br />
                        </li>
                    }
                </ul>
            }
            else
            {
                <p>Inga språk tillagda.</p>
            }

            <h4>Färdighet:</h4>
            @if (cv.Skills != null && cv.Skills.Any())
            {
                <ul>
                    @foreach (var skill in cv.Skills)
                    {
                        <li>
                            <strong>Färdighet:</strong> @skill.SkillName<br />
                        </li>
                    }
                </ul>
            }
            else
            {
                <p>Ingen färdighet tillagd.</p>
            }
        </li>
    }
</ul>
  @*   @foreach (var project in Model.Projects)
    {
        <li>@project.ProjectName</li>
    } *@
</ul>